*.pyc
*.swp
*.egg
*.egg-info/
.cache
build/
dist/
sdist/
nosetests.xml
coverage.xml
results.xml
*.log
config.log
config.status
configure
*.ropeproject
log.txt
.idea/
virtualenv*
.env
venv
.coverage
.pytest_cache
.pyre
.pyre_configuration
.DS_Store