sanic==18.*
python-json-logger==0.*
sanic-cors==0.*
psycopg2==2.*
sqlalchemy==1.*
aiopg==0.*
ujson==1.*
celery==4.*
aiohttp==3.*
aio-pika==5.*
marshmallow==2.*
python-dateutil==2.*
uvloop==0.*
pyyaml==3.*
arrow==0.*
msp-rfcommon-library==1.*
newrelic==4.*
msp_docs2confluence==1.0.1
